.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.custom-file-label .icon {
    margin-right: 10px;
    font-size: 20px;
}

#image-input {
    display: none; /* Ocultamos el input original */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.gallery img {
    max-width: 150px;
    margin: 5px;
    cursor: pointer;
}